[submodule "emu68"]
	path = emu68
	url = https://github.com/michalsc/Emu68
	ignore = all
[submodule "external/musashi"]
	path = external/musashi
	url = https://github.com/kstenerud/musashi
[submodule "external/aros"]
	path = external/aros
	url = https://github.com/aros-development-team/AROS
	update = none
[submodule "external/btstack"]
	path = external/btstack
	url = https://github.com/bluekitchen/btstack.git
[submodule "external/cherryusb"]
	path = external/cherryusb
	url = https://github.com/cherry-embedded/CherryUSB.git
	ignore = dirty
[submodule "external/rigel"]
	path = external/rigel
	url = https://github.com/JJDSNT/rigel
[submodule "external/lide.device"]
	path = external/lide.device
	url = https://github.com/LIV2/lide.device
[submodule "external/libamivideo"]
	path = external/libamivideo
	url = https://github.com/svanderburg/libamivideo.git
[submodule "external/ODFileSystem"]
	path = external/ODFileSystem
	url = https://github.com/reinauer/ODFileSystem
[submodule "external/amitools"]
	path = external/amitools
	url = https://github.com/cnvogelg/amitools
[submodule "external/VideoCore.card"]
	path = external/VideoCore.card
	url = https://github.com/michalsc/VideoCore.card
[submodule "external/RaspberryPI"]
	path = external/RaspberryPI
	url = https://github.com/kumaashi/RaspberryPI
[submodule "external/emu68-bootstrap"]
	path = external/emu68-bootstrap
	url = https://github.com/jit06/emu68-bootstrap
[submodule "external/copperline"]
	path = external/copperline
	url = https://github.com/LinuxJedi/Copperline
