[submodule "external/emu68"]
	path = external/emu68
	url = https://github.com/michalsc/Emu68.git
	ignore = dirty
[submodule "external/aros"]
	path = external/aros
	url = https://github.com/aros-development-team/AROS.git
	ignore = dirty
[submodule "external/aros-bluzing"]
	path = external/aros-bluzing
	url = https://github.com/JJDSNT/aros-bluzing.git
	ignore = dirty
[submodule "external/aros-contrib"]
	path = external/aros-contrib
	url = https://github.com/aros-development-team/contrib.git
	ignore = dirty
