[submodule "emu68"]
	path = emu68
	url = https://github.com/michalsc/Emu68
	ignore = all
[submodule "external/musashi"]
	path = external/musashi
	url = https://github.com/kstenerud/musashi
[submodule "external/aros"]
	path = external/aros
	url = https://github.com/aros-development-team/AROS
